<!--
  Layout: 2 columns (70% left, 30% right)
  Left: 6 tables in 2 rows (3 tables per row)
  Right: 1 table (aggregates all items from tables 1-6)
-->
<div class="app-layout">
  <!-- Left 70% -->
  <div class="app-left">
    <div class="global-search-bar">
      <span class="search-icon">🔍</span>
      <input type="text" placeholder="Buscar especificação..." [(ngModel)]="globalSearch" (input)="onGlobalSearch()" />
    </div>
    <div class="app-left-inner">
      <div class="app-table-box">
        <h3>Produtos</h3>
        <div class="table-scroll">
          <table>
            <thead>
              <tr>
                <th class="table8-col-id">
                  ID
                  <span class="col-resizer" *ngIf="!isCheckboxCol('ID')" (mousedown)="onResizeColumn($event)"></span>
                </th>
                <th class="table8-col-produto">
                  Produto
                  <span class="col-resizer" *ngIf="!isCheckboxCol('Produto')" (mousedown)="onResizeColumn($event)"></span>
                </th>
                <th class="table8-col-quantidade">
                  Quantidade
                  <span class="col-resizer" *ngIf="!isCheckboxCol('Quantidade')" (mousedown)="onResizeColumn($event)"></span>
                </th>
                <th class="table8-col-data">
                  Data de entrega
                  <span class="col-resizer" *ngIf="!isCheckboxCol('Data de entrega')" (mousedown)="onResizeColumn($event)"></span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of produtos; let i = index" [class.selected-row]="selectedTable8Index === i"
                (click)="selectedTable8Index = i" class="table8-row">
                <td>{{item.id}}</td>
                <td>{{item.produto}}</td>
                <td>{{item.quantidade}}</td>
                <td>{{item.data}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="app-row">
        <div class="app-table-box">
          <h3>Embalagem e paletização</h3>
          <div class="table-scroll">
            <table class="embalagem-table">
              <thead>
                <tr>
                  <th>Especificação <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span></th>
                  <th>Complemento <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span></th>
                  <th class="checkbox-col" style="width: 30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of getFilteredTables()[0]">
                  <td>{{item.especificacao}}</td>
                  <td>{{item.complemento}}</td>
                  <td class="checkbox-col">
                    <label>
                      <input type="checkbox" [checked]="isChecked(item)"
                        (change)="toggleTable7(item, $any($event).target.checked)" title="Selecionar item" />
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="app-table-box">
          <h3>Etiquetas e identificação</h3>
          <div class="table-scroll">
            <table>
              <thead>
                <tr>
                  <th>Especificação <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span></th>
                  <th class="checkbox-col" style="width: 30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of getFilteredTables()[1]">
                  <td>{{item.especificacao}}</td>
                  <td class="checkbox-col">
                    <label>
                      <input type="checkbox" [checked]="isChecked(item)"
                        (change)="toggleTable7(item, $any($event).target.checked)" title="Selecionar item" />
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="app-table-box">
          <h3>Químicos - geral</h3>
          <div class="table-scroll">
            <table>
              <thead>
                <tr>
                  <th>Especificação <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span></th>
                  <th class="checkbox-col" style="width: 30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of getFilteredTables()[2]">
                  <td>{{item.especificacao}}</td>
                  <td class="checkbox-col">
                    <label>
                      <input type="checkbox" [checked]="isChecked(item)"
                        (change)="toggleTable7(item, $any($event).target.checked)" title="Selecionar item" />
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="app-row">
        <div class="app-table-box">
          <h3>Químicos - por faixa</h3>
          <div class="table-scroll">
            <table>
              <thead>
                <tr>
                  <th>Propriedade <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span></th>
                  <th>UM <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span></th>
                  <th>Mínimo <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span></th>
                  <th>Máximo <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span></th>
                  <th class="checkbox-col" style="width: 30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of getFilteredTables()[3]; let i = index">
                  <td>{{item.especificacao}}</td>
                  <td>
                    <input class="input-numeric" [value]="item.unidade" (input)="onUmChange(i, $event)" title="UM"
                      placeholder="UM" />
                  </td>
                  <td>
                    <input type="number" class="input-numeric" [value]="item.min" (input)="onMinChange(i, $event)"
                      title="Mínimo" placeholder="min" />
                  </td>
                  <td>
                    <input type="number" class="input-numeric" [value]="item.max" (input)="onMaxChange(i, $event)"
                      title="Máximo" placeholder="max" />
                  </td>
                  <td class="checkbox-col">
                    <label>
                      <input type="checkbox" [checked]="isChecked(item)"
                        (change)="toggleTable7(item, $any($event).target.checked)" title="Selecionar item" />
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="app-table-box">
          <h3>Logística e Transporte</h3>
          <div class="table-scroll">
            <table>
              <thead>
                <tr>
                  <th>Especificação <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span></th>
                  <th>Complemento <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span></th>
                  <th class="checkbox-col" style="width: 30px;"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of getFilteredTables()[4]">
                  <td>{{item.especificacao}}</td>
                  <td>{{item.complemento}}</td>
                  <td class="checkbox-col">
                    <label>
                      <input type="checkbox" [checked]="isChecked(item)"
                        (change)="toggleTable7(item, $any($event).target.checked)" title="Selecionar item" />
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Right 30% -->
  <div class="app-right">
    <div class="app-right-table ">
      <h3>ACPs</h3>
      <div class="table7-scroll">
        <table class="acps-table">
          <thead>
            <tr>
              <th class="produto-col">
                Produto
                <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span>
              </th>
              <th class="especificao-col">
                Especificação
                <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span>
              </th>
              <th class="complemento-col">
                Complemento
                <span class="col-resizer" (mousedown)="onResizeColumn($event)"></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of table7">
              <td>{{item.produto}}</td>
              <td>{{item.especificacao}}</td>
              <td class="complemento-col">{{item.complemento}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <button class="confirm-btn" (click)="onConfirmar()">Confirmar</button>
    </div>
  </div>
</div>